
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Forgot Password{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if verified == True %}
        <script src="js/sent.js"></script>
        <form method="post">
            {% if email is not none %}
                <input type="hidden" name="emailconfirmed" id="emailconfirmed" value={{email}}>
            {% endif %}
            <label for="newpassword">New Password</label>
            <input type="password" name="newpassword" id="newpassword" required>
            <label for="confirmpassword">Confirm Password</label>
            <input type="password" name="confirmpassword" id="confirmpassword" required>
            <input type="submit" name="submit" value="Confirm">
        </form>
    {% else %}
        <form method="post">
            {% if sent == True %}
                {% if email is not none %}
                    <input type="hidden" name="emailconfirmed" id="emailconfirmed" value={{email}}>
                {% endif %}
                <label for="verification">Verification Code</label>
                <input name="verification" id="verification">
                <input type="submit" name="submit" value="Verify">
                <p>Verification Code sent to tickets@hastypudding.org</p>

            {% else %}
                <label for="email">Email</label>
                <input name="email" id="email">
                <input type="submit" name="submit" value="Send Code">
            {% endif %}
        </form>
    {% endif %}
{% endblock %}
