
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if verified == True %}
        <script src="js/sent.js"></script>
        <form method="post">
            <label for="username">Username</label>
            <input name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <input type="submit" name="submit" value="Register">
        </form>
    {% else %}
        <form method="post">
            <label for="verification">Verification Code</label>
            <input name="verification" id="verification">
            <input type="submit" name="submit" value="Verify">
            {% if sent == True %}
                <p>Verification Code sent to tickets@hastypudding.org</p>
            {% else %}
                <input type="submit" name="submit" value="Send Code">
            {% endif %}
        </form>
    {% endif %}
{% endblock %}
