{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Users{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('home.reports') }}">Get Reports</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for user in users %}
    <article class="post">
      <header>
        <div>
          <h1>{{ user['username']}}</h1>
          {% if user['admin'] == 1 %}
            <div class="about">is an Admin</div>
          {% else %}
            <div class="about">is not an Admin</div>
          {% endif %}
        </div>
        {% if g.user['id'] != user['id'] %}
            {% if user['admin'] == 0 %}
                <a class="action" href="{{ url_for('admin.makeadmin', id=user['id']) }}">Make Admin</a>
            {% else %}
                <a class="action" href="{{ url_for('admin.removeadmin', id=user['id']) }}">Remove Admin</a>
            {% endif %}
        {% endif %}
      </header>
      <br>
      {% if g.user['id'] != user['id'] %}
          <a class="action" href="{{ url_for('admin.deleted', id=user['id']) }}">Delete User</a>
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
